.banners {
    margin-top: 121px;
    background: linear-gradient(179.99deg, rgba(255, 255, 255, 0.864) 20.84%, rgba(255, 255, 255, 0) 99.99%);
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        border-radius: 6px;
        width: 273px;
        height: 273px;
        background: black;
        img {
            object-fit: cover;
        }
    }
}