.btn {
    background: #ffffff;
    border: 1px solid #50B848;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
    width: 126px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #50B848;
    font-family: 'Roboto';
    
}
.btn_slide {
    width: 165px;
    height: 36px;
    background: #FFDE2F;
    border-radius: 4px;
    display: none;
    align-items: center;
    text-align: center;
    border-radius: 0;
    border: none;
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto';
    margin-top: 0;
    &_active {
        display: flex;
    }
}
.btn_form {
    background: #FFF629;
    border-radius: 5px;
    width: 207px;
    height: 41px;
    font-family: 'Roboto';
    font-size: 16px;
    border: none;
    color: #222222;
    margin-top: 17px;
}