.btn {
    background: #ffffff;
    border: 1px solid #50B848;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 16px;
    width: 127px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #50B848;
    font-weight: 400;
    img {
        margin-left: 4px;
    }
    
}
.btn_slide {
    width: 164px;
    height: 36px;
    background: #FFDE2F;
    border-radius: 4px;
    display: none;
    align-items: center;
    text-align: center;
    border: none;
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    line-height: 16px;
    margin-top: 14px;
    border-radius: 4px;
    &_active {
        display: flex;
    }
}
.btn_form {
    background: #FFF629;
    border-radius: 5px;
    width: 207px;
    height: 41px;
    font-size: 16px;
    border: none;
    color: #222222;
    margin-top: 17px;
}