.footer {
    margin-top: 341px;
    padding-bottom: 20px;
    &__first-wrapper {
        display: flex;
    }
    &__info {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-right: 77px;
        &-item {
            margin-top: 7px;
            &:first-child {
                margin-top: 0;
            }
            a {
                color: #333333;
                font-weight: normal;  
                line-height: 24px;
                font-size: 14px;
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        &-item {
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }
        }
        &-title {
            margin: 0;
            font-size: 12px;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.8);
            line-height: 14px;
        }
        &-number {
            font-weight: bold;
            font-size: 22px;
            color: rgba(0, 0, 0, 0.8);
            margin-top: 3px;
            line-height: 26px;
        }
    }

    &__app-icons {
        display: flex;
        justify-content: flex-end;
        margin-top: 24px;
    }
    &__app-icon {
        display: block;
        margin-right: 12px;
        width: 106px;
        min-height: 38px;
        &:last-child {
            margin-right: 0;
        }
        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;    
        }
    }

    &__second-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
    }
    &__bank-info {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 600px;;
        display: flex;
        flex-wrap: wrap;
    }
    &__bank-item {
        margin-right: 22px;
        &:last-child {
            margin-right: 0;
        }
        a{
            font-size: 14px;
            font-weight: normal;
            line-height: 26px;
            color: rgba(34, 34, 34, 0.8);
        }  
    }

    &__icon-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 224px;
        height: 24px;
        margin-top: 13px;
    }
    &__icon {
        max-width: 26px;
        max-height: 24px;
        &:last-child {
            margin-right: 0;
        }
        a {
            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: cover;   
            }
        }
    }

    &__divider {
        margin-top: 20px;
        height: 9px;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    &__additional-info-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 13px;
    }
    &__additional-info {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        &-item {
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 12px;
                line-height: 22px;
                color: #5B5B5B;
                font-weight: normal;
            }
        }
    }
    &__location {
        margin-top: 23px;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #5B5B5B;
        margin-bottom: 0;
    }
}
