.drop-down {
    padding-top: 17px;
    padding-bottom: 25px;
    width: 100%;
    background: #ffffff;
    position: absolute;
    left: 0;
    top:80px;
    z-index: 2;
    transition: all 2s;
    display: none;
    box-shadow: 0px -4px 24px rgba(0, 0, 0, 0.2);
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            color: #000000;
        }
    }
}



.header {
    position: relative;
    min-height: 80px;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__bottom-list {
        margin-top: 15px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        max-width: 776px;
        color: #333333;
    }
    &__bottom-item {
        padding-bottom: 3px;
        &:hover {
            border-bottom: 2px solid #3AAA35;
            .drop-down {
                display: block;
            }
        }
        &_active {
            border-bottom: 2px solid #3AAA35;
        }
        a {
            display: block;
            font-size: 14px;
            line-height: 16px;
            color: #333333;
            text-decoration: none;
        }
    }
    &__top-wrapper {
        display: flex;
        width: 510px;   
        justify-content: space-between;
    }
}

.logo {
    display: block;
    margin-top: 14px;
    margin-right: 26px;
    width: 140px;
    height: 30px;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

.select {
    position: relative;
    margin-top: 22px;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    background: #ffffff;
    appearance: none;
    border-style: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 12px;
        height: 5px;
        top: 0;
        right: 20px;
        background: url('../icons/header/arrow-down-select.svg') center center/cover no-repeat;
    }
}
