.header {
    position: relative;
    font-family: 'Roboto', sans-serif;
    min-height: 91px;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__bottom-list {
        margin-top: 14px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        width: 776px;
        color: #333333;
    }
    &__bottom-item {
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 11px;
        &:hover {
            padding-bottom: 9px;
            border-bottom: 2px solid #3AAA35;
        }
        &_active {
            border-bottom: 2px solid #3AAA35;
        }
        a {
            color: #000000;
            font-family: 'Roboto';
            text-decoration: none;
        }
    }
    &__top-wrapper {
        display: flex;
        width: 510px;   
        font-family: 'Roboto';
        justify-content: space-between;
    }
}

.logo {
    display: block;
    margin-top: 20px;
    margin-right: 26px;
    width: 140px;
    height: 30px;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

.select {
    position: relative;
    margin-top: 22px;
    list-style: none;
    font-family: 'Roboto';
    margin-bottom: 0;
    padding-left: 0;
    background: #ffffff;
    appearance: none;
    border-style: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 12px;
        height: 5px;
        top: 0;
        right: 20px;
        background: url('../icons/header/arrow-down-select.svg') center center/cover no-repeat;
    }
}