.nav {
    display: flex;
    &__list {
        margin-top: 22px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        padding-left: 0;
        div {
            margin-right: 10px;
        }
    }
    &__list-item {
        display: flex;
        justify-content: space-between;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        margin-right: 5px;
    }
    &__info {
        margin-top: 17px;
        list-style: none;
        display: flex;
        margin-bottom: 0;
        /* max-width: 350px; */
        color: black;
    }
    &__info-link {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
        img {
            margin-right: 5px;
        }
        a {
            color: #696969;
            font-size: 12px;
            line-height: 14px;
        }
    }

}